html,
body {
    margin: 0 auto;
}

/*  Encabezamiento  */
header {
	min-width: 1200px;
    height: 90px;
    background-color: #a1c2e6;
}

#header-center {
    width: 1300px;
    height: 90px;
    margin: 0 auto;
}

#logo {
    float: left;
    background-image: url("../img/header.png");
    width: 171px;
    height: 71px;
    margin-left: 50px;
    margin-top: 10px; 
}

#nombre-cabecera {
	float: left;
    font-family: 'LoraRegular';
    font-size: 35px;
    margin-top: 10px;	
    margin-left: 12px;
	color: #0f2345;
    padding: 0px;
    height: 55px;
}

#nombreEmpresa{
    font-family: 'OpenSansBoldItalic';
	font-size: 45px;
    text-shadow: 0.5px 0.5px #fff;
}

#search {
	float: right;
	width: 250px;
	margin-right: 50px;
	margin-top: 35px;
}
#search #botonBusqueda{
	display: block;
	float: left;
	width: 90px;
	height: 20px;
	font-family: 'josefin_sansregular';
	line-height: 20px;
	font-size: 20px;
	color: #000000;
	border: 0;
	margin-top: 2px;
	padding-left: 20px;
	background: #a1c2e6 url('../img/header.png');
	background-position: 0 -126px;
}
#search #botonBusqueda:hover{
	color: #2176d1;	
	cursor: pointer;
	background-position: 0 -146px;
}
#search #textoBusqueda {
	display: block;
	float: right;
	width: 150px;
	height: 20px;
	color: black;
	font-family: 'josefin_sansregular';
	color: #8B8989;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #acaeb9;
}

#fondo_nav{
	height: 30px;
	background-color: #005974;
}

#fondo_nav_center{
	margin: 0 auto;
	width: 1200px;
}

nav{
	width: 419px;
	height: 50px;
	clear: both;
	float: right;
	height: 50px;
	margin-top: -10px;
}
.enlace {
	float: left;
	width: 111px;
	height: 40px;
	font-family: 'josefin_sansregular';
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	background: url('../img/botones_.png');
	margin-left: -11px;
	text-indent: 10px;
}
.enlace:hover, .enlace.activo{
	color: #ffffff;
	background-position: 0 -40px;
}
#inicioN{	
	background: url('../img/botonesIzq_.png');
	width: 130px;
	text-indent: 25px;
}
#inicioN:hover, #inicioN.activo{
	background: url('../img/botonesIzq_.png');
	background-position: 0 -40px;
}
nav a:link,
nav a:hover,
nav a:visited,
nav a:active,
nav a {
    text-decoration: none;
    color: black;
}
/* Cuerpo */

#body{	
	background: url('../img/fondo.png') no-repeat scroll center center / cover transparent;
}

#body_center{
	margin: 0 auto;
	width: 1200px;
	background: #c8c8c8;
	height: 876px;
}

.seccion{
	height: 225px;
	padding-top: 50px;	
}

#tres{
	background: url(../img/down.png) center top no-repeat;
}

.tipo_texto{
	float: left;
	width: 660px;
	height: 185px;
	padding: 20px;
	font-family: 'josefin_sansregular';
	font-size: 16px;
	/*background: #e0e0e0;*/
	line-height: 20px;
}

#texto_uno{
	margin-right: 50px;
}

#imagen_dos, #imagen_tres{
	margin-right: 30px;
	margin-left: 20px;
}

.tipo_titulo{
	font-size: 24px;
	text-decoration: underline;
	line-height: 35px;
}

.tipo_imagen{
	float: left;
	width: 430px;
	height: 225px;
	background: url(../img/about.png);
	/*margin-right: 20px;*/
}

#imagen_dos{
	background-position: 0 -450px;
}

#imagen_tres{
	background-position: 0 -225px;
}

/* Footer */

footer{
	height: 360px;	
	min-width: 1200px;
	font-family: 'montserratregular';
	color: #949494;
	background-color: #e0e0e0;	
    /*overflow: hidden;*/
}
#footerCenter{
	margin: 0 auto;
	width: 1200px;
	height: 260px;	
	padding: 50px;
}
#footerNombre{
	font-size: 20px;
	float: left;
	width: 260px;
	height: 127px;
	line-height: 25px;
}
#fN_nombre{	
	color: #3A3A3A;
	font-family: 'LoraRegular';
    font-size: 35px;    
    height: 45px;    
	line-height: 45px;
}	

#nombreEmpresaFooter{
    font-family: 'OpenSansBoldItalic';
	font-size: 45px;
    text-shadow: 0.5px 0.5px #fff;
}

small{
	clear:both;
	float: left;
	font-size: 16px;
	margin-top: 140px;
	height: 20px;
	line-height: 20px;
}

#footerPartners{
	position: relative;
	margin-left: 340px;
	margin-top: 15px;
	width: 520px;
	height: 225px;
    font-family: 'liberation_sansregular';
    font-size: 80px;
    text-align: justify;
    line-height: 70px;
    color: #A9A9A9;
}
#footerPartners .air{
	font-family: 'airline_logos';
}

#footerContacto{
	clear:both;
	float: right;
	/*position: relative;*/
	margin-top: -275px;
	text-align: right;
	font-size: 18px;
}

#footerEnlaces {
	float: right;
	margin-top: -20px;
}

footer a{
	color: #999999;
	text-decoration: none;
}

footer a:link,
footer a:visited,
footer a:active,
footer a {
    text-decoration: none;
    color: #999999;
}

footer a:hover{
	color: black;
}


@media (max-width: 1299px){

	/*  Encabezamiento  */
	header {
		min-width: 955px;
	}
	#header-center {
		width: 925px;
	}
	#logo {		
		float: left;
		background-position: 0 -71px;
		width: 131px;
		height: 55px;
		margin-top: 20px;
		margin-left: 0px;
	}	
	#nombre-cabecera {
		float: left;
		margin-top: 6px;	
		margin-left: 10px;
		margin-top: 10px;
		padding: 0px;
		height: 55px;
	}
	
	#search {
		margin-right: 0;
		margin-top: 35px;
	}
	
	#fondo_nav{
		min-width: 955px;
	}
	
	#fondo_nav_center{
		width: 925px;
	}
	nav{
		clear: both;
		float: right;
		height: 40px;
		margin-top: -10px;
		margin-right: 0;
	}
	
	/* Cuerpo */
	
	#body{	
		min-width: 955px;
	}	
	
	#body_center{
		width: 925px;
	}
	
	.seccion{
		width: 925px;
		padding-top: 50px;	
		margin: 0 auto;
	}

	.tipo_texto{
		width: 512px;
		height: 205px;
		padding: 15px;
		font-size: 15px;
		line-height: 20px;
	}

	#texto_uno{
		margin-right: 15px;
	}

	#imagen_dos, #imagen_tres{
		margin-right: 15px;
		margin-left: 15px;
	}

	.tipo_titulo{
		font-size: 24px;
		text-decoration: underline;
		line-height: 35px;
	}

	.tipo_imagen{
		width: 348px;
		background-position: 0 -675px;
	}

	#imagen_dos{
		background-position: 0 -1125px;
	}

	#imagen_tres{
		background-position: 0 -900px;
	}
	
	/* Footer */
	footer{
		min-width: 955px;
	}

	#footerCenter{
		width: 925px;
		padding: 0;
		padding-top: 50px;
		padding-bottom: 50px;
		
	}
	
	#footerNombre{
		width: 220px;
		font-size: 17px;
	}
	
	#fN_nombre{
		font-size: 28px;
	}
	
	small{
		font-size: 12px;
		margin-top: 140px;
	}
	
	#footerPartners{
		margin-left: 217px;
		margin-top: 15px;
		width: 491px;
		font-size: 75px;
		line-height: 70px;
	}
	
	#footerContacto{
		margin-top: -275px;
		font-size: 16px;
	}
	
	#footerEnlaces {
		font-size: 12px;
	}
		
}


/* font */

@font-face {
    font-family: 'airline_logos';
    src: url('../font/airline_logos-webfont.eot');
    src: url('../font/airline_logos-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/airline_logos-webfont.woff2') format('woff2'),
         url('../font/airline_logos-webfont.woff') format('woff'),
         url('../font/airline_logos-webfont.ttf') format('truetype'),
         url('../font/airline_logos-webfont.svg#airline_logos_past_and_presRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat-regular-webfont.eot');
    src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/montserrat-regular-webfont.woff') format('woff'),
         url('../font/montserrat-regular-webfont.ttf') format('truetype'),
         url('../font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans';
    src: url('../font/nimbus-webfont.eot');
    src: url('../font/nimbus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nimbus-webfont.woff2') format('woff2'),
         url('../font/nimbus-webfont.woff') format('woff'),
         url('../font/nimbus-webfont.ttf') format('truetype'),
         url('../font/nimbus-webfont.svg#nimbus_sans_becker_tligRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansregular';
    src: url('../font/liberationsans-regular-webfont.eot');
    src: url('../font/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/liberationsans-regular-webfont.woff2') format('woff2'),
         url('../font/liberationsans-regular-webfont.woff') format('woff'),
         url('../font/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../font/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'syncopateregular';
    src: url('../font/syncopate-regular-webfont.eot');
    src: url('../font/syncopate-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/syncopate-regular-webfont.woff2') format('woff2'),
         url('../font/syncopate-regular-webfont.woff') format('woff'),
         url('../font/syncopate-regular-webfont.ttf') format('truetype'),
         url('../font/syncopate-regular-webfont.svg#syncopateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_serifregular';
    src: url('../font/droidserif-webfont.eot');
    src: url('../font/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/droidserif-webfont.woff2') format('woff2'),
         url('../font/droidserif-webfont.woff') format('woff'),
         url('../font/droidserif-webfont.ttf') format('truetype'),
         url('../font/droidserif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fugaz_oneregular';
    src: url('../font/fugazone-regular-webfont.eot');
    src: url('../font/fugazone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fugazone-regular-webfont.woff2') format('woff2'),
         url('../font/fugazone-regular-webfont.woff') format('woff'),
         url('../font/fugazone-regular-webfont.ttf') format('truetype'),
         url('../font/fugazone-regular-webfont.svg#fugaz_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarelloblique';
    src: url('../font/cantarell-oblique-webfont.eot');
    src: url('../font/cantarell-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cantarell-oblique-webfont.woff2') format('woff2'),
         url('../font/cantarell-oblique-webfont.woff') format('woff'),
         url('../font/cantarell-oblique-webfont.ttf') format('truetype'),
         url('../font/cantarell-oblique-webfont.svg#cantarelloblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../font/josefinsans-regular-webfont.eot');
    src: url('../font/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../font/josefinsans-regular-webfont.woff') format('woff'),
         url('../font/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../font/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('../font/merriweather-bolditalic-webfont.eot');
    src: url('../font/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../font/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../font/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('../font/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LoraRegular';
    src: url('../font/lora-regular.eot');
    src: url('../font/lora-regular.eot') format('embedded-opentype'),
         url('../font/lora-regular.woff2') format('woff2'),
         url('../font/lora-regular.woff') format('woff'),
         url('../font/lora-regular.ttf') format('truetype'),
         url('../font/lora-regular.svg#LoraRegular') format('svg');
}


@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../font/opensans-bolditalic.eot');
    src: url('../font/opensans-bolditalic.eot') format('embedded-opentype'),
         url('../font/opensans-bolditalic.woff2') format('woff2'),
         url('../font/opensans-bolditalic.woff') format('woff'),
         url('../font/opensans-bolditalic.ttf') format('truetype'),
         url('../font/opensans-bolditalic.svg#OpenSansBoldItalic') format('svg');
}
